@media screen and (max-width: 500px) {
    .content {
        grid-template-columns: 1fr;
        margin: 30px 10px;
    }
    .logo {
        width: 100px;
        margin: 5px auto;
    
    }
    .navigation {
        text-align: center;
    }
    .banner {
        aspect-ratio: 2/1;
    }
    .card h3 {
        text-align: center;
    }
}